* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

/*  
  ! kongukjae/issue4
  Todo: 팀장주문, header 부분은 항상 플롯팅 되어있을것
  * css : position fixed
 */

/* header */
#root>header {
  width: inherit;
  height: 10vh;
  background-color: #55b0aa;

  /* flex */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  position: sticky;
  top: 0;
}

/* 상단메뉴 */
#root>header>ul {
  width: inherit;
  height: 100%;

  /* flex */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

#root>header>ul>li {
  border: 1px solid #fff;
  padding: 20px;
  width: inherit;
  height: inherit;
}

#root>header>div {
  width: inherit;
  height: 100%;

  position: relative;
  top: 0px;

  /* flex */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#root>header>div>ul {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#root>header>div>ul>li {
  width: 20%;
  height: 40%;
  background-color: #fff;
}

#root>main {
  width: inherit;
  height: 90vh;
  background-color: #ccc;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root>main>article {
  width: inherit;
  height: inherit;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root>main>article>span {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: center;
}

/* kongukjae/issue4 작업을 위해 주석처리함
#root > main > article > span > div {
  width: 20px;
  height: 20px;
  background-color: white;
} */

#root>main>article>h1 {
  font-size: 1rem;
}

#root>main>article>div {
  width: 80%;
  height: 80%;
  background-color: #fff;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#root>main>article>div>div:nth-child(1) {
  width: 100%;
  height: 50%;
  /* flex */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

#root>main>article>div>div:nth-child(1)>div {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

#root>main>article>div>div:nth-child(1)>div:nth-child(3) {
  width: 40%;
}


#root>main>article>div>div:nth-child(1)>div>div:nth-child(2)>div {
  height: 100%;
}

#root>main>article>div>div:nth-child(1)>div>div>h2 {
  font-size: 1rem;
}

#root>main>article>div>div:nth-child(1)>div>div>div {
  width: 100%;
  height: 40%;
  background-color: cadetblue;
}

#root>main>article>div>div:nth-child(2) {
  width: 100%;
  height: 50%;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root>main>article>div>div:nth-child(2)>ul {
  width: 100%;
  height: 100%;
  /* flex */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

#root>main>article>div>div:nth-child(2)>ul>li {
  padding: 20px;
  background-color: #555;
  color: #fff;
}

#root>footer {
  width: inherit;
  height: 20vh;
  position: fixed;
  bottom: 0;
  background-color: #79bfff;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}